html {
    background-color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main {
    border: 5px solid red;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.toolbar {
    grid-column: 1/4;
}
.pane {
    min-height: 20rem;
    min-width: 10rem;
    border: 1px solid blue;
}

.tree-view {
}
.canvas-view {
}
.props-view {

}


.tree-view .tree-node {
    border:1px solid gold;
    padding:1em;
    list-style: none;
    margin: 0;
}

.tree-node.selected {
    background-color: red;
}

.props-view .group {
    background-color: #aaa;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.25em;
}

.prop-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.prop-group input {
    max-width: 5em;
}
.prop-group label {
    text-align: right;
    padding-right: 1em;
}
