body {
    background-color: #333333;
    padding: 1rem;
}

h3 {
    color: white;
}
.hbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    /*justify-items: center;*/
    /*justify-content: center;*/
}
.hbox > * {
    margin: 0.125em;
}

.vbox {
    display: flex;
    flex-direction: column;
}


.control {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: sienna;
}



.tslider {
    min-width: 10em;
}

.panel {
    background-color: gold;
    border-radius: 0.5rem;
    padding: 0.5rem;
}



.prop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 2rem;
    padding: 0.5em;
    background-color: goldenrod;
    border-radius: 0.5rem;
    margin:0.5em;
    align-items: center;
    min-width: 20em;
}

.prop-grid label {
    grid-column: 1;
}
.prop-grid input, .prop-grid select {
    grid-column: 2;
}


.duo-panel {
    border: 1px solid red;
    background-color: #592b0c;
}


.hbox.volume {
    /*border: 5px solid green;*/
    font-size: inherit;
}
.hbox.volume input[type=range] {
    max-width: 8em;
    font-size: 100%;
}

.mute-toggle {
    background-color: goldenrod;
    border: 1px solid #666;
    border-radius: 0.5rem;
    width: 2rem;
    height: 1.5rem;
}
.mute-toggle.mute {
    background-color: red;
}
